.footer{
    background-color: var(--bg-secundaria);
    padding: 12px;
    text-align: center;
    margin-top: 40px;
    color: var(--text-secundaria);
    border-top: 1px solid var(--border-color);
}

.social_list {
    display: flex;
    gap: 15px;
    list-style: none;
    justify-content: center;
    padding: 1px;
}

.social_list a{
    font-size: 24px;
    color: #444;
    transition: 0.3s;
    cursor: pointer;
}

.social_list a:hover{
    transform: scale(1.2);
    color: #0A66C2;
}