.layout {
    display: flex;
    flex: 1;
    align-items: stretch;
    /* Manda os filhos (Sidebar e content) esticarem até o fim */
}

.content {
    background-color: var(--bg-primaria);
    flex: 1;
    padding: 30px;
}
